###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://libproxy.googlecode.com/files/libproxy-0.4.7.tar.gz
md5sum = 509e03a488a61cd62bfbaf3ab6a2a7a5

# cmake based
pre-configure-hook=${buildout:directory}/hooks.py:h
noconfigure=true
cmake-options=
make-options=
    VERBOSE=1         \
    WITH_PYTHON=OFF   \
    WITH_PERL=OFF     \
    WITH_NM=OFF       \
    WITH_KDE4=OFF     \
    WITH_GNOME=OFF    \
    WITH_WEBKIT=OFF   \
    WITH_MOZJS=OFF    \
    DESTDIR=${buildout:directory}/parts/part \
    CMAKE_INSTALL_PREFIX=${buildout:directory}/parts/part \
    SYSCONF_INSTALL_DIR=${buildout:directory}/parts/part/etc

gmake=True
configure = ${buildout:directory}/../cmake-2.8/parts/part/bin/cmake
